body {
  background: #bfc8ce;
  font-family: helvetica, sans;
  color: #333;
}

.todos {
  background: #f0f2f3;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #9eacb6;
  border-radius: 5px;
}

h1, h2 {
  margin: 0;
  font-weight: normal;
}

h1 {
  border-bottom: 2px solid #9eacb6;
}

.info {
  display: none;
}

a {
  font-size: 13px;
  color: #069;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.tools {
  display: none;
}

ul {
  margin: 0;
  padding: 10px 0 0 0;
  list-style: none;
}

li {
  display: block;
  margin: 0;
  padding: 0 0 8px 0;
}

li:hover .tools{
  display: inline-block;
  float: right;
}

.todoform {
  position: relative;
  height: 30px;
}

form label, form dl, form dt, form dd {
  margin: 0;
  display: block;
}

form input[type=text] {
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 4px;
  width: 358px;
}

form input[type=submit] {
  color: #666;
  font-size: 20px;
  width: 27px;
  height: 27px;
  border: 1px solid #ccc;
  background: #ddd;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  position: absolute;
  top: 2px;
  right: 0;
}