@(message: String, todos: List[Todo], todoForm: Form[Todo])(implicit messages: Messages)

@main("Todos") {

  <h1>Todos</h1>

  <div class="todos">

    <div class="todolist">
      <ul></ul>
    </div>

    @helper.form(action = routes.TodoController.createTodo, 'class -> "todoform") {
      @helper.inputText(todoForm("content"), '_label -> "", 'placeholder -> "What do you need to do?")
      <input type="submit" value="+">
    }

  </div>

  <p class="credits">Written by <a href="http://github.com/jmparsons" target="_blank">JMParsons</a></p>

}
